# # VS Code 
.history
.vscode

# ignore everything in the root except the "wordpress/wp-content" directory.
# /wp-content/

wordpress/wp-config.php
wordpress/*
!wordpress/wp-content/

!wordpress/Dockerfile
!wordpress/deploy

# ignore everything in the /wp-content" directory, except:
# # "mu-plugins", "plugins", "themes" directory
wordpress/wp-admin/
wordpress/wp-includes/
# wordpress/wp-content/*
!wordpress/wp-content/mu-plugins/
!wordpress/wp-content/plugins/
!wordpress/wp-content/themes/

# # ignore these plugins
wordpress/wp-content/plugins/hello.php

# # ignore specific themes
wordpress/wp-content/themes/twentyseventeen
wordpress/wp-content/themes/twentysixteen

# wordpress/wp-content/themes/twentynineteen/*
!wordpress/wp-content/themes/twentynineteen

# # ignore node dependency directories
# node_modules/

# # ignore log files and databases
# *.log
# *.sql
# *.sqlite
index.php
data/