!app/wp-content/

app/wp-config.php

# ignore everything in the "app/wp-content" directory, except:
"mu-plugins", "plugins", "themes" directory
app/wp-admin/
app/wp-includes/
app/wp-content/*
!app/wp-content/mu-plugins/
!app/wp-content/plugins/
!app/wp-content/themes/

# ignore these plugins
# app/wp-content/plugins/hello.php

# ignore specific themes
app/wp-content/themes/twentyseventeen
app/wp-content/themes/twentysixteen

app/wp-content/themes/twentynineteen/*
!app/wp-content/themes/twentynineteen/*.php